/.venv/
/combat.log/
/logs/
/parser/meter/__pycache__/
/parser/__pycache__/
/parser/encounters/__pycache__/
/parser/.env
/icon-extractor/icons32/
/icon-extractor/har/
auto-import.sh
/bot/.env
/bot/node_modules/
/rust/.env
/bot/.env
/app/.env
/target/
/rust/target/